body {
    margin: 0;
    background-color: #CACACA;
    padding-bottom: 100px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #CACACA;
    height: 205px;
}

.header-padding {
    height: 205px;
}

.footer-padding {
    height: 100px;
}

.centering-wrapper {
    width: 1145px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding-left: 35px;
}

.header-left {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.header-right {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 184px;
    height: 156px;
}

.page-title {
    color: darkblue;
    font-size: 38px;
    font-weight: bold;
    margin-top: 10px;
}

.page-info {

}

.page-info-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    margin-right: 25px;
}

.page-info-item {
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    margin-top: 10px;
}

.name-input {
    width: 150px;
    height: 20px;
    margin-left: 20px;
    font-size: 18px;
    padding-left: 5px;
}

.duration-input {
    margin-left: 10px;
}

.clear-input {
    margin-left: 10px;
    width: 125px;
    font-size: 25px;
}

.message-container {
    height: 27px;
}

.message {
    position: relative;
    width: 850px;

    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    animation: blinker 0.3s cubic-bezier(.5, 0, 1, 1) 2 alternate;
}

@keyframes blinker { to { opacity: 0; } }

.error-message {
    color: brown;
    background: lightpink;
}

.user-message {
    color: darkgreen;
    background: lightgreen;
}

.btn { /* general properties applicable to buttons */
    cursor: pointer;
    box-sizing: border-box;

    /* disallow text selection inside the button */
    user-select: none; /* new standard - not supported at the time of this writing */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.dismiss-message-btn {
    position: absolute;
    top: 3px;
    right: 3px;

    width: 20px;
    height: 20px;
    line-height: 20px;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.left-column {
    width: 200px;
}

.day-column {
    width: 130px;
}

.table-header {
    margin-right: 35px;
    border-bottom: 5px solid #666666;
}

.column-header {
    color: darkblue;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.time-slot {
    box-sizing: border-box;
    border: solid 1px #666666;
    text-align: center;
    font-size: 18px;
}

.slot-height-1 {
    height: 30px;
    line-height: 30px;
}

.slot-height-2 {
    height: 60px;
    line-height: 60px;
}

.slot-height-3 {
    height: 90px;
    line-height: 90px;
}

.slot-height-4 {
    height: 120px;
    line-height: 120px;
}

.slot-height-5 {
    height: 150px;
    line-height: 150px;
}

.slot-height-6 {
    height: 180px;
    line-height: 180px;
}

.slot-height-7 {
    height: 210px;
    line-height: 210px;
}

.slot-height-8 {
    height: 240px;
    line-height: 240px;
}

.slot-height-9 {
    height: 270px;
    line-height: 270px;
}

.slot-height-10 {
    height: 300px;
    line-height: 300px;
}

.slot-height-11 {
    height: 330px;
    line-height: 330px;
}

.slot-height-12 {
    height: 360px;
    line-height: 360px;
}


.left-column-slot {
    color: darkblue;

}

.day-column-slot {

}

.day-column-slot.selectable-slot:hover {
    background: yellow;
}

.peak-time-slot {
    background: lightpink;
    color: brown;
}

.charging-time-slot {
    background: orange;
    color: saddlebrown;
}

.occupied-time-slot {
    background: lightgreen;
    color: darkgreen;
}