body {
    padding: 20px;
}

.main-wrapper {
    width:1150px;
    margin:0 auto;
    padding-bottom: 100px;
}

.page-title {
    color: darkblue;
    margin-bottom: 30px;
}

.page-info1 {
    margin-bottom: 20px;
    line-height: 23px;
}

.page-info2 {
    padding-left: 30px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: top;
    width: 450px;
}

.page-info2 label {
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 15px;
}

.message {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    padding: 20px 20px;
    font-weight: bold;
    font-size: 18px;
    width: 550px;
    text-align: center;
}

.error-message {
    color: red;
    border: solid 1px red;
}

.user-message {
    color: forestgreen;
    border: solid 1px forestgreen;
}

.name-input {
    width: 150px;
    height: 20px;
    margin-left: 65px;
    font-size: 18px;
    padding-left: 5px;
}

.duration-input {
    margin-left: 20px;
}



.column {
    display: inline-block;
    vertical-align: top;
}

.left-column {
    width: 200px;
}

.day-column {
    width: 130px;
}

.column-header {
    color: darkblue;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.time-slot {
    border: solid 1px #333333;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.left-column-slot {
    color: darkblue;
    font-size: 18px;
}

.day-column-slot {
    font-size: 18px;
}

.day-column-slot.selectable-slot:hover {
    background: yellow;
}

.peak-time-slot {
    background: lightpink;
    color: brown;
}

.charging-time-slot {
    background: orange;
    color: saddlebrown;
}

.occupied-time-slot {
    background: lightgreen;
    color: darkgreen;
}